@import url(../../lib/font/lato/lato.css);
/**
 * "Disconnected Networking" talk theme for reveal.js.
 *
 * Based on "black" theme by Hakim El Hattab, http://hakim.se
 */
/* @import url(../../lib/font/source-sans-pro/source-sans-pro.css); */
/* @import url(../../lib/font/playfair-display/playfair-display.css); */
/* @import url(../../lib/font/ahem/ahem.css); */
section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
  color: #222; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #5D457C;
  background-color: #5D457C; }

.reveal {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 38px;
  font-weight: normal;
  color: #fff; }

::selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none; }

.reveal .slides > section, .reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  margin: 0 0 20px 0;
  color: #fff;
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.5em; }

.reveal h2 {
  font-size: 1.6em; }

.reveal h3 {
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img, .reveal video, .reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong, .reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol, .reveal dl, .reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul, .reveal ul ol, .reveal ol ol, .reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q, .reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child, .reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
  background: #3F3F3F;
  color: #DCDCDC; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th, .reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"], .reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"], .reveal table td[align="right"] {
  text-align: right; }

.reveal table tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #42affa;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease; }

.reveal a:hover {
  color: #8dcffc;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #068ee9; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal a img {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #42affa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled {
  border-right-color: #42affa; }

.reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled {
  border-left-color: #42affa; }

.reveal .controls div.navigate-up, .reveal .controls div.navigate-up.enabled {
  border-bottom-color: #42affa; }

.reveal .controls div.navigate-down, .reveal .controls div.navigate-down.enabled {
  border-top-color: #42affa; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #8dcffc; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #8dcffc; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #8dcffc; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #8dcffc; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #42affa;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #42affa; }

.reveal .visualizer {
  width: 100%;
  height: 500px; }
  .reveal .visualizer canvas {
    -webkit-mask: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #ffffff 7%); }
  .reveal .visualizer--doppler, .reveal .visualizer--devicelight-paper {
    transition: transform 1s cubic-bezier(0, 0, 0.2, 1);
    transform-origin: top right;
    position: absolute;
    top: 0;
    pointer-events: none; }
    .reveal .visualizer--doppler::before, .reveal .visualizer--devicelight-paper::before {
      font-family: 'Lato', Helvetica, sans-serif;
      font-weight: 900;
      font-size: 1.6em;
      transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1); }
  .reveal .visualizer--doppler::before {
    content: "Frequency Shift"; }
  .reveal .visualizer--devicelight-paper::before {
    content: "Ambient Light Events"; }
  .reveal .visualizer--morse {
    height: 300px; }
.reveal .demo .current-fragment ~ .visualizer {
  transform: scale(0.75) translatey(-100px); }
  .reveal .demo .current-fragment ~ .visualizer:before {
    opacity: 0; }
  .reveal .demo .current-fragment ~ .visualizer canvas {
    -webkit-mask: linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, #ffffff 57%); }
.reveal .demo .fixture {
  position: absolute;
  width: 55%;
  height: 600px; }
.reveal .demo .illustration {
  height: 100%;
  fill: white;
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1); }
.reveal .demo--morse {
  display: flex;
  flex-flow: row wrap;
  margin: 1em 0; }
  .reveal .demo--morse .output {
    flex: 1 1 auto; }
  .reveal .demo--morse .output--morse {
    margin-right: 1.5em;
    min-width: 7em; }
  .reveal .demo--morse .output--message {
    flex-grow: 3; }
  .reveal .demo--morse .output__box {
    font-size: 2.5em;
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 900;
    padding: 1rem 2rem;
    background-color: #fa0;
    color: #000;
    text-align: left;
    min-height: 1.3em;
    overflow-x: scroll; }
  .reveal .demo--morse .label {
    position: relative;
    display: block;
    text-align: left;
    font-size: 0.8em;
    margin-bottom: 0.3em;
    font-weight: 300; }

iframe.paper {
  width: 80%;
  height: 100%;
  box-shadow: 8px 8px 10px 3px rgba(0, 0, 0, 0.48); }

html::before {
  display: block;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5em 0;
  text-align: center;
  content: "Doppler navigation active";
  font-size: 2.5em;
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 900;
  background: rgba(119, 224, 119, 0.7);
  color: white;
  pointer-events: none;
  transform: translatey(-4em);
  transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1); }

html.doppler-navigation::before {
  transform: translatey(0); }

.reveal .agenda {
  list-style: none;
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 900;
  font-size: 2.5em;
  margin: 0; }
  .reveal .agenda li {
    margin-bottom: 0.1em;
    color: #aa96c4; }
  .reveal .agenda li.current {
    color: #fa0; }
.reveal h1.light {
  font-weight: 300; }
.reveal h1 em, .reveal h2 em {
  color: #fa0;
  font-style: normal; }
.reveal h1.topic, .reveal h2.topic {
  text-align: left; }
.reveal .ultrasound-encoding {
  list-style: none;
  font-size: 3.25em;
  font-weight: 900;
  text-align: left;
  margin: 0;
  width: 70%; }
  .reveal .ultrasound-encoding li {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .reveal .ultrasound-encoding li .illustration {
      width: 400px;
      height: 200px;
      background: url(../../images/wave/signal1.png) left center no-repeat;
      background-size: auto 100%; }
  .reveal .ultrasound-encoding li:nth-child(1) .illustration {
    background-image: url(../../images/wave/signal1.png); }
  .reveal .ultrasound-encoding li:nth-child(2) .illustration {
    background-image: url(../../images/wave/signal2.png); }
  .reveal .ultrasound-encoding li:nth-child(3) .illustration {
    background-image: url(../../images/wave/signal3.png); }

.google-tone h1 {
  animation: fadeout 1s ease-out;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  opacity: 1; }

@keyframes fadeout {
  to {
    opacity: 0; } }

.reveal section img {
  margin: 0 0px;
  background: none;
  border: none;
  box-shadow: none; }

.blob-container {
  position: relative; }

.blobs {
  position: relative;
  height: 300px;
  width: 960px;
  margin: 0 auto; }

.blob {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #EFA9D9;
  float: left;
  opacity: 0;
  mix-blend-mode: multiply;
  will-change: transform, opacity; }

.doppler-illustration .blob {
  animation: pulse 4s infinite; }

.blob + .blob {
  margin-left: -200px;
  animation-delay: 0.2s; }

.blob:nth-child(1) {
  animation-delay: 0s; }

.blob:nth-child(2) {
  animation-delay: 0.5s; }

.blob:nth-child(3) {
  animation-delay: 1s; }

.blob:nth-child(4) {
  animation-delay: 1.5s; }

.blob:nth-child(5) {
  animation-delay: 2s; }

.blob:nth-child(6) {
  animation-delay: 2.5s; }

.blob:nth-child(7) {
  animation-delay: 3s; }

.blob-target {
  position: absolute;
  width: 250px;
  height: 350px;
  margin: -100px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 2;
  fill: white; }

@keyframes pulse {
  from {
    transform: scale(0);
    opacity: 0; }

  10% {
    opacity: 1; }

  55% {
    opacity: 0; }

  to {
    transform: scale(4.5);
    opacity: 0; } }

html.bio::after {
  content: '';
  display: block;
  width: 5em;
  height: 10em;
  background: url(./resources/adobelogo.svg) top center no-repeat;
  background-size: cover;
  position: absolute;
  top: -1px;
  right: 4em; }

.reveal #bio ul {
  list-style: none;
  margin: 0;
  text-align: left;
  margin-left: 0;
  display: block;
  flex: 1 0 0;
  max-width: 50%; }
.reveal #bio li {
  font-size: 1.3em; }
.reveal #bio h1 {
  text-align: left; }
.reveal #bio img {
  position: absolute;
  top: 4.3em;
  right: -3em;
  border: 1px solid #ddd; }

.reveal ul.credits {
  list-style: none;
  margin-left: 0;
  font-size: 0.5em;
  position: relative;
  margin-left: 10em;
  padding-left: 2em;
  border-left: 1px solid rgba(255, 255, 255, 0.5); }
  .reveal ul.credits::before {
    content: "Credits";
    position: absolute;
    font-size: 1.6em;
    left: -5em; }
  .reveal ul.credits * {
    color: white;
    opacity: 0.75; }
