.sonic-demo-wrapper{
  display: flex;
  flex-flow: row wrap;
}

#symbol-preview{
  height: 300px;
  flex: 1 1 0;
  min-width: 300px;
  margin-bottom: 10px;
  background-position: center;
  background-size: 80% 80%;
}

@media screen and (min-width: 600px){
  #symbol-preview{
    order: 2;
    margin-left: 10px;
    margin-bottom: 0;
  }
}

.symbol-container{
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 0;
  min-width: 300px;
}

.symbol{
  flex: 1 1 50%;
  min-height: 100px;
  cursor: pointer;
  background-position: center;
  background-size: 80% 80%;
}

  .symbol-container input{
    display: none;
  }

  .symbol-container input:checked + label{
    box-shadow: inset 0 0 15px 5px black;
  }

.symbol--1{
  background-color: lightgreen;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20100%20100%22%20enable-background%3D%22new%200%200%20100%20100%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cg%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M18.137%2C81.559c17.518%2C17.518%2C45.903%2C17.512%2C63.421%2C0%20%20%20%20c17.517-17.517%2C17.517-45.906%2C0-63.423c-17.518-17.512-45.907-17.518-63.424%2C0C0.62%2C35.653%2C0.623%2C64.042%2C18.137%2C81.559z%20%20%20%20%20M47.265%2C16.318c18.527-1.435%2C34.687%2C12.432%2C36.116%2C30.945c1.429%2C18.53-12.443%2C34.69-30.956%2C36.113%20%20%20%20C33.911%2C84.811%2C17.74%2C70.94%2C16.314%2C52.426C14.888%2C33.906%2C28.749%2C17.742%2C47.265%2C16.318z%22/%3E%3C/g%3E%3Cg%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M33.993%2C65.701c8.756%2C8.753%2C22.954%2C8.753%2C31.701%2C0.005l0.005-0.005%20%20%20%20c1.095-1.095%2C1.1-2.863%2C0-3.964c-1.089-1.089-2.868-1.095-3.963%2C0l-0.006%2C0.006c-6.563%2C6.564-17.202%2C6.569-23.774-0.006%20%20%20%20c-1.094-1.095-2.871-1.1-3.966-0.005C32.893%2C62.832%2C32.898%2C64.605%2C33.993%2C65.701z%22/%3E%3C/g%3E%3Cg%3E%3Cpath%20d%3D%22M64.451%2C40.24c-3.098%2C0-5.605%2C2.507-5.605%2C5.606c0%2C3.098%2C2.507%2C5.605%2C5.605%2C5.605c3.093%2C0%2C5.606-2.507%2C5.606-5.605%20%20%20%20C70.058%2C42.747%2C67.545%2C40.24%2C64.451%2C40.24z%22/%3E%3C/g%3E%3Cg%3E%3Cpath%20d%3D%22M29.398%2C45.845c0%2C3.099%2C2.507%2C5.606%2C5.605%2C5.606c3.098%2C0%2C5.606-2.507%2C5.606-5.606c0-3.097-2.508-5.606-5.606-5.606%20%20%20%20C31.905%2C40.239%2C29.398%2C42.748%2C29.398%2C45.845z%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A');
	background-repeat: no-repeat;
}

.symbol--2{
  background-color: cornflowerblue;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20100%20100%22%20enable-background%3D%22new%200%200%20100%20100%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cg%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M82.08%2C17.88c-17.51-17.52-45.9-17.52-63.42%2C0c-17.51%2C17.51-17.51%2C45.9%2C0%2C63.42%20%20%20%20c17.52%2C17.52%2C45.91%2C17.51%2C63.42%2C0C99.6%2C63.78%2C99.6%2C35.39%2C82.08%2C17.88z%20M52.95%2C83.12c-18.51%2C1.43-34.68-12.44-36.11-30.96%20%20%20%20c-1.43-18.51%2C12.43-34.68%2C30.95-36.1C66.32%2C14.62%2C82.48%2C28.49%2C83.91%2C47C85.33%2C65.53%2C71.46%2C81.69%2C52.95%2C83.12z%22/%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M43.33%2C44.28c-0.51%2C0.82-1.38%2C1.28-2.28%2C1.3c0%2C3.1-2.51%2C5.61-5.61%2C5.61%20%20%20%20c-3.09%2C0-5.6-2.51-5.6-5.61c0-2.03%2C1.09-3.82%2C2.72-4.79l-1.99-1.25c-1.3-0.81-1.69-2.52-0.88-3.81c0.81-1.3%2C2.52-1.7%2C3.82-0.88%20%20%20%20l8.95%2C5.61C43.75%2C41.27%2C44.14%2C42.98%2C43.33%2C44.28z%22/%3E%3C/g%3E%3Cg%3E%3Cpath%20d%3D%22M70.17%2C39.54l-2.19%2C1.37c1.52%2C1%2C2.52%2C2.72%2C2.52%2C4.68c0%2C3.09-2.655%2C5.6-5.755%2C5.6c-3.09%2C0-5.745-2.51-5.745-5.6v-0.05%20%20%20%20c0-0.13-1.305-0.56-1.735-1.26c-0.82-1.3-0.357-3.01%2C0.943-3.82l8.986-5.61c1.29-0.82%2C3.018-0.42%2C3.838%2C0.88%20%20%20%20C71.842%2C37.02%2C71.47%2C38.73%2C70.17%2C39.54z%22/%3E%3C/g%3E%3Cg%3E%3Cpath%20d%3D%22M50.725%2C73.528c-0.001%2C0-0.002%2C0-0.003%2C0c-8.193%2C0-16.486-5.088-16.486-14.812c0-1.531%2C1.241-2.771%2C2.772-2.771h26.984%20%20%20%20c1.531%2C0%2C2.772%2C1.24%2C2.772%2C2.771c0%2C4.625-1.787%2C8.506-5.168%2C11.224C58.716%2C72.254%2C54.855%2C73.528%2C50.725%2C73.528z%20M40.184%2C61.487%20%20%20%20c1.385%2C4.444%2C6.104%2C6.498%2C10.539%2C6.499c0%2C0%2C0.001%2C0%2C0.002%2C0c2.872%2C0%2C5.5-0.841%2C7.398-2.367c1.358-1.091%2C2.273-2.475%2C2.738-4.133%20%20%20%20H40.184z%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A');
	background-repeat: no-repeat;
}

.symbol--3{
  background-color: pink;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20100%20100%22%20enable-background%3D%22new%200%200%20100%20100%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cg%3E%3Cpath%20d%3D%22M66.37%2C69.223H33.936c-1.531%2C0-2.771-1.241-2.771-2.772s1.24-2.772%2C2.771-2.772H66.37c1.531%2C0%2C2.771%2C1.241%2C2.771%2C2.772%20%20%20%20S67.901%2C69.223%2C66.37%2C69.223z%22/%3E%3C/g%3E%3Cg%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M81.86%2C18.26c-17.52-17.51-45.9-17.52-63.42%2C0c-17.52%2C17.52-17.51%2C45.91%2C0%2C63.42%20%20%20%20c17.52%2C17.52%2C45.9%2C17.51%2C63.42%2C0C99.38%2C64.17%2C99.38%2C35.78%2C81.86%2C18.26z%20M52.73%2C83.5c-18.52%2C1.43-34.69-12.44-36.11-30.95%20%20%20%20c-1.43-18.52%2C12.43-34.68%2C30.95-36.11c18.53-1.43%2C34.69%2C12.43%2C36.11%2C30.95C85.11%2C65.92%2C71.24%2C82.08%2C52.73%2C83.5z%22/%3E%3C/g%3E%3Cg%3E%3Cpath%20d%3D%22M69.95%2C39.93l-2.18%2C1.37c1.51%2C1%2C2.51%2C2.72%2C2.51%2C4.67c0%2C3.1-2.555%2C5.6-5.645%2C5.6c-3.1%2C0-5.635-2.5-5.635-5.6v-0.05%20%20%20%20c-1-0.13-1.415-0.56-1.855-1.26c-0.81-1.29-0.402-3.01%2C0.898-3.82l8.959-5.61c1.29-0.81%2C3.004-0.42%2C3.824%2C0.88%20%20%20%20C71.636%2C37.4%2C71.25%2C39.12%2C69.95%2C39.93z%22/%3E%3C/g%3E%3Cg%3E%3Cpath%20d%3D%22M43.195%2C44.66C42.675%2C45.48%2C42%2C45.94%2C41%2C45.96v0.01c0%2C3.1-2.595%2C5.6-5.695%2C5.6c-3.09%2C0-5.642-2.5-5.642-5.6%20%20%20%20c0-2.04%2C1.059-3.82%2C2.689-4.79l-2.001-1.25c-1.29-0.81-1.695-2.53-0.875-3.82c0.81-1.3%2C2.517-1.69%2C3.817-0.88l8.981%2C5.61%20%20%20%20C43.574%2C41.65%2C44.005%2C43.37%2C43.195%2C44.66z%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A');
	background-repeat: no-repeat;
}

.symbol--4{
  background-color: papayawhip;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20100%20100%22%20enable-background%3D%22new%200%200%20100%20100%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cg%3E%3Cpath%20d%3D%22M66.092%2C67.504H33.659c-1.531%2C0-2.772-1.24-2.772-2.771s1.241-2.771%2C2.772-2.771h32.433c1.531%2C0%2C2.772%2C1.24%2C2.772%2C2.771%20%20%20%20S67.623%2C67.504%2C66.092%2C67.504z%22/%3E%3C/g%3E%3Cg%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M81.53%2C18.27c-17.52-17.51-45.9-17.51-63.42%2C0C0.59%2C35.79%2C0.6%2C64.18%2C18.11%2C81.7%20%20%20%20c17.52%2C17.52%2C45.9%2C17.51%2C63.42%2C0C99.05%2C64.18%2C99.05%2C35.79%2C81.53%2C18.27z%20M52.4%2C83.51c-18.52%2C1.44-34.69-12.43-36.11-30.95%20%20%20%20c-1.43-18.52%2C12.43-34.68%2C30.95-36.1c18.53-1.44%2C34.69%2C12.43%2C36.11%2C30.94C84.78%2C65.93%2C70.91%2C82.09%2C52.4%2C83.51z%22/%3E%3C/g%3E%3Cg%3E%3Cpath%20d%3D%22M70.14%2C51.66c-0.55%2C0.54-1.26%2C0.82-1.97%2C0.82c-0.71%2C0-1.41-0.27-1.95-0.81l-1.78-1.77l-1.77%2C1.78%20%20%20%20c-0.54%2C0.54-1.25%2C0.82-1.97%2C0.82c-0.7%2C0-1.41-0.27-1.95-0.81c-1.09-1.08-1.09-2.83-0.01-3.92l1.76-1.78l-1.77-1.76%20%20%20%20c-1.09-1.08-1.1-2.84-0.02-3.92c1.08-1.09%2C2.84-1.09%2C3.92-0.01l1.78%2C1.77l1.77-1.79c1.08-1.08%2C2.84-1.09%2C3.92-0.01%20%20%20%20c1.09%2C1.08%2C1.09%2C2.84%2C0.01%2C3.92l-1.77%2C1.78l1.78%2C1.77C71.21%2C48.82%2C71.22%2C50.57%2C70.14%2C51.66z%22/%3E%3C/g%3E%3Cg%3E%3Cpath%20d%3D%22M40.69%2C51.66c-0.54%2C0.54-1.26%2C0.82-1.97%2C0.82c-0.7%2C0-1.41-0.27-1.95-0.81l-1.78-1.77l-1.77%2C1.78%20%20%20%20c-0.54%2C0.54-1.25%2C0.82-1.96%2C0.82s-1.42-0.27-1.96-0.81c-1.08-1.08-1.09-2.83-0.01-3.92l1.76-1.78l-1.77-1.76%20%20%20%20c-1.09-1.08-1.09-2.84-0.01-3.92c1.08-1.09%2C2.83-1.09%2C3.92-0.01l1.77%2C1.76l1.77-1.78c1.08-1.08%2C2.84-1.09%2C3.92-0.01%20%20%20%20c1.09%2C1.08%2C1.09%2C2.84%2C0.01%2C3.92l-1.77%2C1.78l1.79%2C1.77C41.76%2C48.82%2C41.77%2C50.57%2C40.69%2C51.66z%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A');
	background-repeat: no-repeat;
}

.symbol--pending{
  background-color: lightgray;
  position: relative;
}

.symbol--pending::before{
  content: "Listening...";
  position: absolute;
  top: 0;
  bottom: 0;
  height: 1em;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 2em;
  text-align: center;
}

/* Toggle */

.toggle{
  border: 1px solid black;
  display: inline-flex;
}

.toggle__option{
  flex: 1 1 100px;
  cursor: pointer;
}

.toggle__option span{
  display: block;
  padding: 1em 2em;
}

.toggle__option input{
  position: absolute;
  left: -999em;
}

.toggle__option input:checked + span{
  background: black;
  color: #fff;
}
