/**
 * "Disconnected Networking" talk theme for reveal.js.
 *
 * Based on "black" theme by Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
/* @import url(../../lib/font/source-sans-pro/source-sans-pro.css); */
@import url(../../lib/font/lato/lato.css);
/* @import url(../../lib/font/playfair-display/playfair-display.css); */
/* @import url(../../lib/font/ahem/ahem.css); */

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #5D457C;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 38px;
$mainFont: 'Lato', Helvetica, sans-serif;
$headingFont: 'Lato', Helvetica, sans-serif;
$artisticFont: 'Playfair Display', Times, serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 900;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


/* body{
background: url(resources/polygon.gif), linear-gradient(#5D457C 0%, #5D457C 70% );
	background-blend-mode: hard-light;
 	background: #5D457C;
} */

.visualizer{
	width: 100%;
	height: 500px;
	/* background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255, 1) 10%); */

	canvas{
		-webkit-mask: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(255,255,255, 1) 7%)
	}

	&--doppler{
		transition: transform 1s cubic-bezier(0, 0, 0.2, 1);
		transform-origin: top right;
		position: absolute;
		top: 0;
		pointer-events: none;

		&:before{
			content: "Frequency Shift";
			font-family: $headingFont;
			font-weight: 900;
			font-size: $heading2Size;
			transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
		}

		canvas{
			-webkit-mask: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(255,255,255, 1) 7%)
		}
	}
}

.demo--doppler{
	.current-fragment ~ .visualizer {
		transform: scale(0.75) translatey(-100px);

		&:before{
			opacity: 0;
		}

		canvas{
			-webkit-mask: linear-gradient(90deg, rgba(0,0,0,0) 50%, rgba(255,255,255, 1) 57%)
		}
	}

	.fixture{
		position: absolute;
		width: 55%;
		height: 600px;
	}

	.illustration{
		height: 100%;
		fill: white;
		transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
	}
}

.reveal {
	div.paper{
		box-sizing: border-box;
		background: white;
		height: 100%;
		overflow-y: auto;
		box-shadow: 8px 8px 10px 3px rgba(0, 0, 0, 0.48);
		padding: 1em 1.3em 0.5em;
		text-align: left;

		.paper__title{
			color: #444;
			font-size: 1em;
			display: block;
			margin: 0 0 0.75em 0;
			font-weight: 700;

			&--h2{
				font-size: 0.75em;
				margin-bottom: 0.75em;
			}
		}

		* {
			font-size: 20px;
			margin: 0 0 2em 0;
			line-height: 1.6;
			color: #aaa;
			/* font-family: 'Ahem', sans-serif; */
		}

		ul{
			list-style: inside;
			width: 100%;
		}

		li{
			margin-bottom: 0.5em;
			width: 100%;
		}
	}
}

html::before{
	display: block;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.5em 0;
	text-align: center;
	content: "Doppler navigation active";
	font-size: $heading1Size;
	font-family: $headingFont;
	font-weight: 900;
	background: rgba(119, 224, 119, 0.7);
	color: white;
	pointer-events: none;
	transform: translatey(-4em);
	transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
}

html.doppler-navigation::before{
	transform: translatey(0);
}

.reveal {
	.agenda {
		list-style: none;
		font-family: $headingFont;
		font-weight: 900;
		font-size: $heading1Size;
		margin: 0;

		li{
			margin-bottom: 0.1em;
			color: lighten(#5D457C, 30%);
		}

		li.current{
			color: #fa0;
		}
	}

	h1.light{
		font-weight: 300;
	}

	h2.topic{
		text-align: left;
	}


}

/* .reveal div.credit{
	position: fixed;
	bottom: 0;
	left: 0;
	top: 0;
	height: 1em;
	background: black;
	font-size: 0.5em;
}
 */
