/**
 * "Disconnected Networking" talk theme for reveal.js.
 *
 * Based on "black" theme by Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
/* @import url(../../lib/font/source-sans-pro/source-sans-pro.css); */
@import url(../../lib/font/lato/lato.css);
/* @import url(../../lib/font/playfair-display/playfair-display.css); */
/* @import url(../../lib/font/ahem/ahem.css); */

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #5D457C;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 38px;
$mainFont: 'Lato', Helvetica, sans-serif;
$headingFont: 'Lato', Helvetica, sans-serif;
$artisticFont: 'Playfair Display', Times, serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 900;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal{

.visualizer{
	width: 100%;
	height: 500px;

	canvas{
		-webkit-mask: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(255,255,255, 1) 7%);
	}

	&--doppler,
	&--devicelight-paper{
		transition: transform 1s cubic-bezier(0, 0, 0.2, 1);
		transform-origin: top right;
		position: absolute;
		top: 0;
		pointer-events: none;

		&::before{
			font-family: $headingFont;
			font-weight: 900;
			font-size: $heading2Size;
			transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
		}
	}

	&--doppler::before{
		content: "Frequency Shift";
	}

	&--devicelight-paper::before{
		content: "Ambient Light Events";
	}

	&--devicelight{
		/* height: 300px; */
	}

	&--morse{
		height: 300px;
	}
}

.demo{
	.current-fragment ~ .visualizer {
		transform: scale(0.75) translatey(-100px);

		&:before{
			opacity: 0;
		}

		canvas{
			-webkit-mask: linear-gradient(90deg, rgba(0,0,0,0) 50%, rgba(255,255,255, 1) 57%)
		}
	}

	.fixture{
		position: absolute;
		width: 55%;
		height: 600px;
	}

	.illustration{
		height: 100%;
		fill: white;
		transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
	}
}

.demo--morse{
	display: flex;
	flex-flow: row wrap;
	margin: 1em 0;

	.output{
		flex: 1 1 auto;
	}

	.output--morse {
		margin-right: 1.5em;
		min-width: 7em;
	}

	.output--message{
		flex-grow: 3;
	}

	.output__box{
		font-size: 2.5em;
		font-family: $mainFont;
		font-weight: 900;
		padding: 1rem 2rem;
		background-color: #fa0;
		color: #000;
		text-align: left;
		min-height: 1.3em;
		overflow-x: scroll;
	}

	.label{
		position: relative;
		display: block;
		text-align: left;
		font-size: 0.8em;
		margin-bottom: 0.3em;
		font-weight: 300;
	}
}

} // end .reveal


iframe.paper{
	width: 80%;
	height: 100%;
	box-shadow: 8px 8px 10px 3px rgba(0, 0, 0, 0.48);
}

html::before{
	display: block;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.5em 0;
	text-align: center;
	content: "Doppler navigation active";
	font-size: $heading1Size;
	font-family: $headingFont;
	font-weight: 900;
	background: rgba(119, 224, 119, 0.7);
	color: white;
	pointer-events: none;
	transform: translatey(-4em);
	transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
}

html.doppler-navigation::before{
	transform: translatey(0);
}

.reveal {
	.agenda {
		list-style: none;
		font-family: $headingFont;
		font-weight: 900;
		font-size: $heading1Size;
		margin: 0;

		li{
			margin-bottom: 0.1em;
			color: lighten(#5D457C, 30%);
		}

		li.current{
			color: #fa0;
		}
	}

	h1.light{
		font-weight: 300;
	}

	h1 em, h2 em{
		color: #fa0;
		font-style: normal;
	}

	h1.topic, h2.topic{
		text-align: left;
	}

	.ultrasound-encoding{
		list-style: none;
		font-size: $heading1Size * 1.3;
		font-weight: 900;
		text-align: left;
		margin: 0;
		width: 70%;

		li{
			display: flex;
			justify-content: space-between;
			align-items: center;

			.illustration{
				width: 400px;
				height: 200px;
				background: url(../../images/wave/signal1.png) left center no-repeat;
				background-size: auto 100%;
			}
		}

		li:nth-child(1) .illustration{
			background-image: url(../../images/wave/signal1.png);
		}
		li:nth-child(2) .illustration{
			background-image: url(../../images/wave/signal2.png);
		}
		li:nth-child(3) .illustration{
			background-image: url(../../images/wave/signal3.png);
		}

	}
}

.google-tone h1{
	animation: fadeout 1s ease-out;
	animation-delay: 2.5s;
	animation-fill-mode: forwards;
	opacity: 1;
}

@keyframes fadeout{
	to {
		opacity: 0;
	}
}

.reveal section img {
	margin: 0 0px;
	background: none;
	border: none;
	box-shadow: none;
}

	.blob-container{
		position: relative;
	}

	.blobs{
		position: relative;
		height: 300px;
		width: 960px;
		margin: 0 auto;
	}

	.blob{
		width: 300px;
		height: 300px;
		border-radius: 50%;
		background: #EFA9D9;
		float: left;
		opacity: 0;
		mix-blend-mode: multiply;
		will-change: transform, opacity;
	}

	.doppler-illustration .blob{
		animation: pulse 4s infinite;
	}

	.blob + .blob{
		margin-left: -200px;
		animation-delay: 0.2s;
	}

	.blob:nth-child(1){
		animation-delay: 0s;
	}

	.blob:nth-child(2){
		animation-delay: 0.5s;
	}

	.blob:nth-child(3){
		animation-delay: 1s;
	}

	.blob:nth-child(4){
		animation-delay: 1.5s;
	}

	.blob:nth-child(5){
		animation-delay: 2s;
	}

	.blob:nth-child(6){
		animation-delay: 2.5s;
	}

	.blob:nth-child(7){
		animation-delay: 3s;
	}

	.blob-target{
		position: absolute;
		width: 250px;
		height: 350px;
		margin: -100px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		z-index: 2;
		fill: white;
	}


	@keyframes pulse{
		from {
			transform: scale(0);
			opacity: 0;
		}

		10%{
			opacity: 1;
		}

		55%{
			opacity: 0;
		}

		to {
			transform: scale(4.5);
			opacity: 0;
		}
	}


html.bio::after{
	content: '';
	display: block;
	width: 5em;
	height: 10em;
	background: url(./resources/adobelogo.svg) top center no-repeat;
	background-size: cover;
	position: absolute;
	top: -1px;
	right: 4em;
}

.reveal {

	#bio{
		ul{
			list-style: none;
			margin: 0;
			text-align: left;
			margin-left: 0;
			display: block;
			flex: 1 0 0;
			max-width: 50%;
		}

		li{
			font-size: $heading3Size;
		}

		h1{
			text-align: left;
		}

		img{
			position: absolute;
			top: 4.3em;
			right: -3em;
			border: 1px solid #ddd;
		}
	}
}

.reveal ul.credits{
	list-style: none;
	margin-left: 0;
	font-size: 0.5em;
}
